PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=bimbel
JWT_SECRET=change-this-secret
ADMIN_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback
APP_URL=http://localhost:5173
RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_PUBLIC_ENDPOINT=
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
RUSTFS_BUCKET=bimbel
TEACHER_FEE_PERCENT=70
