PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=bimbel
JWT_SECRET=change-this-secret
ADMIN_EMAIL=gnoogler4@gmail.com
ADMIN_PASS=admin123
ADMIN_NAME=Admin paham.in
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback
APP_URL=http://localhost:5173
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=bimbel
